* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    overflow: hidden;

}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

h1 {
    color: white;
    margin-bottom: 2em;
    white-space: nowrap;
}


button {
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    /* margin-bottom: 2em; */
}

button:active {
    scale: 0.95;

}