* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bca5a5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 20px;
}

.main {
    width: 300px;
    height: 300px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.main h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    align-items: center;
}

#myButton {
    border-radius: 10px;
    border: 1px solid #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#myButton:hover {
    background-color: #555;
    color: white;
}

#myButton:active {
    transform: scale(0.85);
}