* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.piano {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.key {
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
}

.white {
    width: 60px;
    height: 200px;
    background: linear-gradient(to bottom, #fff, #e6e6e6);
    box-shadow:
        inset 0 -4px 6px rgba(0, 0, 0, 0.4),
        0 6px 0 #bbb,
        0 8px 12px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
}

.black {
    width: 40px;
    height: 120px;
    background: linear-gradient(to bottom, #222, #000);
    box-shadow:
        inset 0 -3px 4px rgba(255, 255, 255, 0.1),
        0 4px 0 #111,
        0 6px 10px rgba(0, 0, 0, 0.7);
    left: -20px;
    z-index: 2;
    margin-right: -20px;
    margin-left: -20px;
}

.key:active,
.key.active {
    transform: translateY(-1px);
}

.white:active,
.white.active {
    box-shadow:
        inset 0 -2px 3px rgba(0, 0, 0, 0.5),
        0 2px 0 #aaa,
        0 4px 6px rgba(0, 0, 0, 0.4);
}

.black:active,
.black.active {
    box-shadow:
        inset 0 -2px 3px rgba(255, 255, 255, 0.15),
        0 1px 0 #000,
        0 3px 5px rgba(0, 0, 0, 0.8);
}