* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #9e8989;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #211d1d;
}

main {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
img {
    width: 300px;
    height: 500px;
    cursor: pointer;
}