* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 350px;
    /* height: 300px; */
    background: #e9e3e3;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    font-family: monospace;
}

.card p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.card p span {
    font-weight: 700;
    color: rgb(8, 121, 173);
}

.outer {
    width: 100%;
    height: 20px;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
}

.inner {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #4caf50, #81c784);
    border-radius: 10px;
    transition: width 0.3s ease;
}

.bottom {
    /* position: absolute; */
    /* bottom: 20px; */
    /* left: 20px; */
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom h2 {
    font-size: 60px;
}

.bottom button {
    padding: 12px 25px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #162a17;
}

.bottom button:active {
    scale: 0.95;
}