* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1770035183754-40166582f83f?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Default mouse position */
:root {
    --x: 50%;
    --y: 50%;
}

.box {
    height: 100%;
    width: 100%;
    /* border: 1px solid white; */

    /* Spotlight effect */
    background: radial-gradient(circle 150px at var(--x) var(--y),
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.9) 100%);
}