* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

main {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #4a0808, #d33131a8);
    padding: 20px;
    overflow: hidden;
}

section {
    height: 600px;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    background: black;
    /* overflow: hidden; */
}

section {
    height: 100%;
    width: 350px;
    overflow: hidden;
}

.all-reels {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.all-reels::-webkit-scrollbar {
    display: none;
}

.all-reels {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.reel {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom {
    padding: 30px 20px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom .user img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.user>h4 {
    color: white;
}

.bottom .user button {
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;

}

.bottom>h3 {
    color: white;
    margin-top: 10px;
    font-weight: 100;
}

.right {
    position: absolute;
    right: 0px;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px;
    /* transform: translateX(100%); */
}

.right .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.right i {
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.right h6 {
    font-size: 15px;
    font-weight: 500;
}

.right>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.love i {
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.ri-heart-fill {
    color: red;
    transform: scale(1.2);
}

.mute-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}

.mute-btn i {
    color: white;
    font-size: 20px;
}