* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

main {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #4a0808, #d33131a8);
    padding: 20px;
    overflow: hidden;
}

section {
    height: 100%;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    background: black;
}

.all-reels {
    height: 100%;
    width: 100%;

}

.reel {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
    overflow: hidden;
    margin-bottom: 20px;
}

.reel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom {
    padding: 30px 20px;
    background-color: linear-gradient(black, black);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;

}

.bottom .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom .user img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.bottom .user button {
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;

}

.bottom>h3 {
    color: white;
    margin-top: 10px;
    font-weight: 100;
}

.right {
    position: absolute;
    right: 0px;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px;
    /* transform: translateX(100%); */
}

.right .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.right i {
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.right h6{
    font-size: 15px;
    font-weight: 500;
}
.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}