* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock {
    padding: 40px 60px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

#clock h2 {
    font-size: 4rem;
    color: #00ffcc;
    min-width: 80px;
    text-align: center;
}

.colon {
    animation: blink 1s infinite;
}

#ampm {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 10px;
}

@keyframes blink {
    50% {
        opacity: 0.2;
    }
}

#weather {
    margin-top: 20px;
    text-align: center;
    color: #00ffcc;
    font-family: monospace;
}

#weather h3 {
    font-size: 1.5rem;
}

#result-div {
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    color: #00ffcc;
    font-family: monospace;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

.result-div-inner {
    margin: 5px 0;
}

.result-div-inner img {
    width: 80px;
}