* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: rgb(7, 163, 7);
    font-size: 2rem;
    font-family: monospace;
    white-space: nowrap;
    min-width: 32ch;
    text-align: center;
}