* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(69, 60, 60);
    color: white;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 220px;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.card div {
    position: relative;
    overflow: hidden;

}

.card img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 12px;
}

.card h2 {
    font-size: 20px;
    text-align: center;
}

.card i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: transparent;
    background: linear-gradient(to right bottom, rgb(162, 4, 162), rgb(210, 0, 186));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.73, .92, .73, 1.34) 0.3s;

}